<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarkAndroidSample"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Demo Activities -->
        <activity
            android:name=".demos.TeamSyncDemoActivity"
            android:label="TeamSync App"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.UIControlsDemoActivity"
            android:label="UI Controls"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.NotificationsDemoActivity"
            android:label="Notifications"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.CustomElementsDemoActivity"
            android:label="Custom Elements"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.FormsDemoActivity"
            android:label="Form Labels and Validation Demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.NavigationDemoActivity"
            android:label="Navigation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.DeviceOrientationDemoActivity"
            android:label="Device Orientation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.SemanticsDemoActivity"
            android:label="Semantic Structure and Meaning"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.ColorContrastDemoActivity"
            android:label="Color and Contrast"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.AudioVideoDemoActivity"
            android:label="Audio and Video"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.TextContentDemoActivity"
            android:label="Text Content"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.ImagesDemoActivity"
            android:label="Images"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demos.MiscDemoActivity"
            android:label="Miscellaneous"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>